<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Scholariun</title>
</head>

<body>
    <div class="containerCentral">
        <div class="containerPrimarios">
            <!-- <img src="./images/guerreiro-background.png" alt=""> -->
        </div>
        <div class="containerSecundarios">
            <form class="box-forms" action="" method="POST">
                <img src="./images/logo.png" alt="" class="fotoLogo">
                <div class="forms">
                    <div class="campoInputGrande">
                        <div class="camposInput">
                            <label for="nome">Nome</label>
                            <input type="text" name="firstName" placeholder="Nome...." class="inputNomeEsobrenome"
                                required>
                        </div>
                        <div class="camposInput">
                            <label for="sobrenome">Sobrenome</label>
                            <input type="text" name="lastName" placeholder="Sobrenome..." class="inputNomeEsobrenome"
                                required>
                        </div>
                    </div>
                    <div class="camposInput">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" placeholder="Digite seu endereço de email..."
                            class="inputNomeEsobrenome" required>
                    </div>
                    <div class="camposInput">
                        <label for="senha">Senha</label>
                        <input type="password" name="password" placeholder="Digite sua senha..."
                            class="inputNomeEsobrenome" required>
                    </div>
                    <div class="campoInputGrande">
                        <div class="camposInput">
                            <label for="dataNascimento">Data de Nascimento</label>
                            <input type="date" name="dataNasc" placeholder="01/03/2004" class="inputNomeEsobrenome"
                                required>
                        </div>
                        <div class="camposInput">
                            <label for="genero">Gênero</label>
                            <select id="genero" name="gender" class="inputNomeEsobrenome" required>
                                <option value="Masculino">
                                    Masculino
                                </option>
                                <option value="Feminino">
                                    Feminino
                                </option>
                                <option value="Outro">
                                    Outro
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="termoAdesao">
                        <input type="checkbox" name="termoAdesao" placeholder="Digite sua senha..."
                            class="termoAdesaoCheckBox" required>
                        <p>Li e concordo com os <span>termos de uso</span></p>
                    </div>
                </div>
                <div>
                    <button class="botaoCadastrar" type="submit">Cadastrar</button>
                </div>
            </form>

        </div>
    </div>
</body>

</html>